@model FruitDealer.App.Models.Fruits

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fruits</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.BadDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BadDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoughtDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoughtDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FruitTypes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FruitTypes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.StoreName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
