@model FruitDealer.App.Models.Fruits

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fruits</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BadDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BadDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoughtDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoughtDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FruitTypes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FruitTypes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.StoreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
