@model FruitDealer.App.Models.Fruits

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Fruits</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="BadDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BadDate" class="form-control" />
                <span asp-validation-for="BadDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BoughtDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BoughtDate" class="form-control" />
                <span asp-validation-for="BoughtDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Color" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StoreId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="StoreId" class="form-control" asp-items="ViewBag.StoreId"></select>
                <span asp-validation-for="StoreId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="radio" name="fruitTypes" value="Apple"> Apple <br/>
            <input type="radio" name="fruitTypes" value="Orange"> Orange <br />
            <input type="radio" name="fruitTypes" value="Banana"> Banana <br />
            <input type="radio" name="fruitTypes" value="Pear"> Pear
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
