@model FruitDealer.App.Models.FruitEaters

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FruitEaters</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Eater)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eater.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fruit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fruit.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
