@model FruitDealer.App.Models.FruitEaters

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>FruitEaters</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EaterId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="EaterId" class="form-control" asp-items="ViewBag.EaterId"></select>
                <span asp-validation-for="EaterId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FruitId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="FruitId" class="form-control" asp-items="ViewBag.FruitId"></select>
                <span asp-validation-for="FruitId" class="text-danger"></span>
            </div>
        </div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
