@model FruitDealer.App.Models.Dealers

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Dealers</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FruitsLoaned" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FruitsLoaned" class="form-control" />
                <span asp-validation-for="FruitsLoaned" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StoreId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StoreId" class ="form-control" asp-items="ViewBag.StoreId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HumanId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="HumanId" class ="form-control" asp-items="ViewBag.HumanId"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}