@model FruitDealer.App.Models.Dealers

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dealers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FruitsLoaned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FruitsLoaned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Human)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Human.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>