﻿@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <title></title>
</head>
<body>

    <h2>FruitDealer Start</h2>
    <div>
        <form asp-action="CreateDatabaseAction">
            <h3>Create a database filled with data</h3>
            <input type="submit" value="Create Database" class="btn btn-primary" />
        </form>

        <form asp-action="ClearDatabaseAction">
            <h3>Clear all data from database</h3>
            <input type="submit" value="Create Database" class="btn btn-primary" />
        </form>
    </div>
</body>
</html>